@using Microsoft.AspNetCore.Identity
@using Arbbet.DataExplorer.Identity.Models
@using Arbbet.DataExplorer.Identity.Helpers;

@inject SignInManager<ArbbetUser> SignInManager
@inject UserManager<ArbbetUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="media">
            <div class="media-img-wrap">
                <div class="avatar">
                    <div class="avatar-text avatar-text-primary rounded-circle">
                        <span class="initial-wrap" style="margin-top:-0.6rem"><span>@UserHelperExtensions.GetInitials(UserManager.GetUserName(User))</span></span>
                    </div>
                </div>
                
                <span class="badge badge-success badge-indicator"></span>
            </div>
            <div class="media-body">
                <span>@UserManager.GetUserName(User) <i class="zmdi zmdi-chevron-down"></i></span>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="dropdown-icon zmdi zmdi-account"></i><span>Profile</span></a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage"><i class="dropdown-icon zmdi zmdi-account"></i><span>Account</span></a>
        <a class="dropdown-item" href="#"><i class="dropdown-icon zmdi zmdi-settings"></i><span>Settings</span></a>
        <div class="dropdown-divider"></div>
        <div class="sub-dropdown-menu show-on-hover">
            <a href="#" class="dropdown-toggle dropdown-item no-caret"><i class="zmdi zmdi-check text-success"></i>Online</a>
            <div class="dropdown-menu open-left-side">
                <a class="dropdown-item" href="#"><i class="dropdown-icon zmdi zmdi-check text-success"></i><span>Online</span></a>
                <a class="dropdown-item" href="#"><i class="dropdown-icon zmdi zmdi-circle-o text-warning"></i><span>Busy</span></a>
                <a class="dropdown-item" href="#"><i class="dropdown-icon zmdi zmdi-minus-circle-outline text-danger"></i><span>Offline</span></a>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-page="/Account/Logout" asp-area="Identity"><i class="dropdown-icon zmdi zmdi-power"></i><span>Log out</span></a>
    </div>
}
else
{
    <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="media">
            <div class="media-body">
                <span class="text-danger">Not connected <i class="zmdi zmdi-chevron-down"></i></span>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
        <a class="dropdown-item" asp-page="/Account/Register" asp-area="Identity"><i class="dropdown-icon zmdi zmdi-account-add"></i><span>Register</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-page="/Account/Login" asp-area="Identity"><i class="dropdown-icon zmdi zmdi-account"></i><span>Login</span></a>
    </div>
}