@page

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 pa-0">

            <div class="auth-form-wrap auth-cover-img pt-xl-0 pt-70" style="background-image:url(/img/landing/landing1.jpg);">
                <div class="auth-form w-xl-35 w-lg-65 w-sm-85 w-100 card pa-25 shadow-lg">
                    <a class="auth-brand text-center d-block mb-20" href="#">
                        <img class="brand-img" src="dist/img/logo-light.png" alt="brand" />
                    </a>
                    <form id="account" method="post">
                        <h1 class="display-4 text-center mb-10">Welcome Back :)</h1>
                        <p class="text-center mb-30">Sign in to your account and enjoy unlimited perks.</p>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Input.Email)" type="email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-password-toggle">
                                <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Input.Password)" type="password">
                                <div class="input-group-append" style="pointer-events:painted;cursor:pointer;">
                                    <span class="input-group-text"><i class="far fa-eye-slash"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox custom-control custom-checkbox mb-25">
                                <input asp-for="Input.RememberMe" class="custom-control-input" type="checkbox" />
                                <label asp-for="Input.RememberMe" class="custom-control-label font-14">
                                    Keep me logged in
                                </label>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                        <p class="font-14 text-center mt-15">
                            <a asp-page="./ForgotPassword">Having trouble logging in?</a>
                        </p>
                        <div class="option-sep">or</div>
                        <div class="form-row">
                            <div class="col-md-6 mb-20"><button class="btn btn-indigo btn-block btn-wth-icon"> <span class="icon-label"><i class="fab fa-facebook-square"></i> </span><span class="btn-text">Login with facebook</span></button></div>
                            <div class="col-md-6 mb-20"><button class="btn btn-primary btn-block btn-wth-icon"> <span class="icon-label"><i class="fab fa-twitter-square"></i> </span><span class="btn-text">Login with Twitter</span></button></div>
                        </div>
                        @if (Model.RegistrationEnabled)
                        {
                            <p class="text-center">
                                Do have an account yet?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                            </p>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
