@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="auth-form-wrap auth-cover-img pt-xl-0 pt-70" style="background-image:url(/img/landing/landing1.jpg);">
                <div class="auth-form w-xl-30 w-lg-65 w-sm-85 w-100 card pa-25 shadow-lg">
                    <a class="auth-brand text-center d-block mb-20" href="#">
                        <img class="brand-img" src="img/logo-light.png" alt="brand">
                    </a>
                    <div class="form-group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h1 class="display-5 mb-10 text-center">@ViewData["Title"]</h1>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                            </form>
                        }
                        else
                        {
                            <p class="mb-30 text-center">You have successfully logged out of the application.</p>

                            <script>
                                setTimeout(function () {
                                    window.location.href = '/';
                                 }, 5000);
                            </script>
                        }
                        <p class="text-right"><a asp-page="Login">Back to login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
