@page
@model RegisterConfirmationModel
@{
  ViewData["Title"] = "Register confirmation";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="auth-form-wrap auth-cover-img pt-xl-0 pt-70" style="background-image:url(/img/landing/landing1.jpg);">
                <div class="auth-form w-xl-30 w-lg-65 w-sm-85 w-100 card pa-25 shadow-lg">
                    <a class="auth-brand text-center d-block mb-20" href="#">
                        <img class="brand-img" src="@Url.Content("~/img/logos/arbbet_logo_128.png")" alt="arbbet" />
                    </a>
                    <div class="form-group">
                        <h1 class="display-5 mb-10 text-center">@ViewData["Title"]</h1>
                        <p class="mb-30 text-center">Please check your email to confirm your account.</p>
                        <p>If you haven't received our email, you can request <a asp-page="ConfirmEmail">a new link</a></p>
                        <p class="text-right"><a asp-page="Login">Back to login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>