@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="auth-form-wrap auth-cover-img pt-xl-0 pt-70" style="background-image:url(/img/landing/landing1.jpg);">
                <div class="auth-form w-xl-30 w-lg-65 w-sm-85 w-100 card pa-25 shadow-lg">
                    <a class="auth-brand text-center d-block mb-20" href="#">
                        <img class="brand-img" src="img/logo-light.png" alt="brand">
                    </a>
                    <form id="account" method="post">
                        <input asp-for="Input.Code" type="hidden" />
                        <h1 class="display-5 mb-10 text-center">@ViewData["Title"]</h1>
                        <p class="mb-30 text-center">Reset your password.</p>
                        <div class="form-group">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Input.Email)" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-password-toggle">
                                <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Input.Password)" type="password">
                                <div class="input-group-append" style="pointer-events:painted;cursor:pointer;">
                                    <span class="input-group-text"><i class="far fa-eye-slash"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-password-toggle">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Input.ConfirmPassword)" type="password">
                                <div class="input-group-append" style="pointer-events:painted;cursor:pointer;">
                                    <span class="input-group-text"><i class="far fa-eye-slash"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button class="btn btn-success btn-block mb-20" type="submit">Reset</button>
                        <p class="text-right"><a asp-page="Login">Back to login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
