@page
@model Arbbet.DataExplorer.Areas.Identity.Pages.Account.Manage.ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    Layout = "_Layout";
}

<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a asp-page="../Manage" asp-route-activePage="Security">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">2FA Recovery codes</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
<!-- Container -->
<div class="container-fluid px-xxl-65 px-xl-20">
    <!-- Title -->
    <div class="hk-pg-header">
        <h3 class="hk-pg-title"><span class="pg-title-icon"><i class="ion ion-md-clipboard"></i></span>@ViewData["Title"]</h3>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <div class="alert alert-warning" role="alert">
                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
                        {
                            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
                        }
                    </div>
                </div>


                <h5 class="hk-sec-title">Put these codes in a safe place.</h5>
                <div class="alert alert-warning" role="alert">
                    <span>If you lose your device and don't have the recovery codes you will lose access to your account.</span>
                </div>
                <partial name="_AlertMessage" for="StatusMessage" />
            </section>
            <a asp-page="../Manage" asp-route-activePage="Security">Back</a>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
